.intro {
    width: 100%;
    background-image: url(pictures/milad-fakurian-seA-FPPXL-M-unsplash.jpg);
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    font-family: var(--f4);
}

nav ul {
    display: flex;
    margin: 15px 0;
}

nav #left_nav {
    float: left;
}

nav #right_nav {
    float: right;
    margin-left: 50%;
    gap: 10px;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    list-style: none;
    color: white;
}

nav ul a li:hover {
    text-decoration: underline greenyellow;
}

nav #left_nav a li:hover {
    text-decoration: none;
    /* color: #505050; */
    color: greenyellow;
}

.in_intro {
    width: 80%;
    margin: 0 auto;
    padding: 200px 0;
}

.in_intro h3, .in_intro h1 span, .in_intro h2 {
    color: greenyellow;
    font-family: var(--f2);
}

.in_intro h1 {
    color: white;
    font-family: var(--f4);
    margin: 20px 0;
}

.btns {
    width: 80%;
    margin: 0 auto;
}

.btns a button {
    cursor: pointer;
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 5px;
    margin: 80px 5px;
}

.btns a button:hover {
    color: greenyellow;
    background-color: rgba(172, 255, 47, 0.233);
}

@media screen and (max-width: 414px) {
    nav {
        width: 95%;
    }
    nav #right_nav {
        margin-left: 25%;
        gap: 5px;
    }

    .in_intro {
        width: 95%;
        margin: 0 auto;
        padding: 100px 0;
    }

    .btns {
        width: 95%;
        margin: 0 auto;
    }
    .btns a button {
        cursor: pointer;
        padding: 8px 36px;
        background-color: transparent;
        color: white;
        border: 2px solid greenyellow;
        border-radius: 5px;
        margin: 60px 2px;
        font-size: 14px;
    }
}